In [3]:
import pandas as pd
col_list = ["A", "B"]
df = pd.read_csv('C:/Users/HP Elitebook Core-i5/Downloads/archive (4)/Salary_Data.csv', names=col_list)

In [ ]:
#To get top rows
n = 5
df.head(n)

In [45]:
df[["A", "B"]]

       A       B
0    1.1   39343
1    1.3   46205
2    1.5   37731
3    2.0   43525
4    2.2   39891
5    2.9   56642
6    3.0   60150
7    3.2   54445
8    3.2   64445
9    3.7   57189
10   3.9   63218
11   4.0   55794
12   4.0   56957
13   4.1   57081
14   4.5   61111
15   4.9   67938
16   5.1   66029
17   5.3   83088
18   5.9   81363
19   6.0   93940
20   6.8   91738
21   7.1   98273
22   7.9  101302
23   8.2  113812
24   8.7  109431
25   9.0  105582
26   9.5  116969
27   9.6  112635
28  10.3  122391
29  10.5  121872

In [46]:
import numpy as np
#Get indices for condition
inds = np.where(df["A"] == 1)
#Select out only those indices
df.iloc[inds]
#Could also have used a single line
#i.e. df.iloc[np.where(df["A"] == 1)]

Empty DataFrame
Columns: [A, B]
Index: []

In [47]:
df.sort_index()

       A       B
0    1.1   39343
1    1.3   46205
2    1.5   37731
3    2.0   43525
4    2.2   39891
5    2.9   56642
6    3.0   60150
7    3.2   54445
8    3.2   64445
9    3.7   57189
10   3.9   63218
11   4.0   55794
12   4.0   56957
13   4.1   57081
14   4.5   61111
15   4.9   67938
16   5.1   66029
17   5.3   83088
18   5.9   81363
19   6.0   93940
20   6.8   91738
21   7.1   98273
22   7.9  101302
23   8.2  113812
24   8.7  109431
25   9.0  105582
26   9.5  116969
27   9.6  112635
28  10.3  122391
29  10.5  121872

# LINEAR REGRESSION

In [21]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# Load the data from the CSV file
data = pd.read_csv('C:/Users/HP Elitebook Core-i5/Downloads/archive (4)/Salary_Data.csv')

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data.drop('Salary', axis=1),
                                                    data['Salary'],
                                                    test_size=0.3,
                                                    random_state=42)

# Train a linear regression model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Make predictions on the test set
y_pred = lr.predict(X_test)

# Calculate the accuracy of the model
accuracy = r2_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.9414466227178214

# NAIVE BAYES

In [30]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# Load the data from the CSV file
data = pd.read_csv('C:/Users/HP Elitebook Core-i5/Downloads/archive (4)/Salary_Data.csv')

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data.drop('Salary', axis=1),
                                                    data['Salary'],
                                                    test_size=0.3,
                                                    random_state=42)

# Train a naive bayes model
nb = GaussianNB()
nb.fit(X_train, y_train)

# Make predictions on the test set
y_pred = nb.predict(X_test)

# Calculate the accuracy of the model
accuracy = r2_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.8927767929694256

# RANDOM FOREST

In [31]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# Load the data from the CSV file
data = pd.read_csv('C:/Users/HP Elitebook Core-i5/Downloads/archive (4)/Salary_Data.csv')

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data.drop('Salary', axis=1),
                                                    data['Salary'],
                                                    test_size=0.3,
                                                    random_state=42)

# Train a Random Forest model
rf = RandomForestRegressor(random_state=42)
rf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf.predict(X_test)

# Calculate the accuracy of the model
accuracy = r2_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.9355466110326732

# KNEAREST MEANS

In [32]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# Load the data from the CSV file
data = pd.read_csv('C:/Users/HP Elitebook Core-i5/Downloads/archive (4)/Salary_Data.csv')

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data.drop('Salary', axis=1),
                                                    data['Salary'],
                                                    test_size=0.3,
                                                    random_state=42)

# Train a k-nearest neighbors model
knn = KNeighborsRegressor()
knn.fit(X_train, y_train)

# Make predictions on the test set
y_pred = knn.predict(X_test)

# Calculate the accuracy of the model
accuracy = r2_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.9132432892775124